/* ===================================================== */
/* MULTI-PAGE HEADER FORMATS */
/* ===================================================== */


#header-section {
    /* background-color: rgb(41,44,43,0.5); */
    /* border-bottom: solid 2px whitesmoke; */
    background-color: rgb(245,245,245,.6);
    color: rgb(50,50,50);
}

.team-names {
    font-size: 1.1em;
    /* border-left: solid 1px whitesmoke; */
}

.navigation {
    color: whitesmoke;
    /* border: solid 2px whitesmoke; */
    background-color: rgb(60,65,67,0.8);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    /* height: 50px; */
}

a {
    color: rgb(50,50,50);
}

a:hover {
    color: rgb(60,65,67);
    text-decoration: none;
}


/* ===================================================== */
/* MULTI-PAGE BODY FORMATS */
/* ===================================================== */

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

.page-body {
    /* background-color: rgb(245,245,245,.55); */
    /* color: rgb(50,50,50); */
    /* background-color: rgb(60,65,67,0.4); */
    color: whitesmoke;
    border-radius: 15px;
}

hr {
    border-top: solid 1px rgb(245,245,245,.5);
}


/* ===================================================== */
/* INDEX PAGE */
/* ===================================================== */

#body-index {
    background-image: url(../images/GP-mountains.jpg);
    background-size: 110%;
    position: absolute;
}


/* ===================================================== */
/* FUTURE STATE PAGE */
/* ===================================================== */

#body-future {
    background-image: url(../images/sky.jpeg);
    background-size: 110%;
}


/* ===================================================== */
/* APP PAGE */
/* ===================================================== */


#body-app {
    background-image: url(../images/GP-city.jpg);
    background-size:110%;
}

#user-input-section {
    /* background-color: rgba(176, 186, 126, 0.728); */
    color: whitesmoke;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}