/* ===================================================== */
/* MULTI-PAGE HEADER FORMATS */
/* ===================================================== */


#header-section {
    /* background-color: rgb(41,44,43,0.5); */
    /* border-bottom: solid 2px whitesmoke; */
    background-color: rgb(245,245,245,.85);
    color: rgb(50,50,50);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 50px 60px 0px 40px;
}

.team-names {
    font-size: 0.8em;
    /* border-left: solid 1px whitesmoke; */
}

.navigation {
    color: whitesmoke;
    /* border: solid 2px whitesmoke; */
    /* background-color: rgb(60,65,67,0.8); */
    background-color: rgb(84,61,90,.9);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

a {
    color: rgb(50,50,50);
}

a:hover {
    color: rgb(60,65,67);
    text-decoration: none;
}


/* ===================================================== */
/* MULTI-PAGE BODY FORMATS */
/* ===================================================== */

#body-section {
    margin: 175px 50px 50px 50px;
    z-index: 0;
}

#body-section-bottom {
    background-color: rgb(84,61,90,.5);
    border-radius: 15px;
    margin: -20px 50px 50px 50px;
    z-index: 0;
}

.page-body {
    color: whitesmoke;
    padding: 30px;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

hr {
    border-top: solid 1px rgb(245,245,245,.5);
}


/* ===================================================== */
/* INDEX PAGE */
/* ===================================================== */

#body-index {
    background-image: url(../images/GP-mountains.jpg);
    background-size: 110%;
    background-attachment: fixed;
    background-position: top;
}

#body-section-team {
    background-color: rgb(30,31,34,.8);
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 30px 0px 30px;
}

.team-member {
    font-size: 0.7em;
}


/* ===================================================== */
/* FUTURE STATE PAGE */
/* ===================================================== */

#body-future {
    background-image: url(../images/sky.jpeg);
    background-size: 110%;
    background-attachment: fixed;
    background-position: top;
}


/* ===================================================== */
/* APP PAGE */
/* ===================================================== */


#body-app {
    background-image: url(../images/GP-city.jpg);
    background-size: 110%;
    background-attachment: fixed;
    background-position: top;
}

#user-input-section {
    /* background-color: rgba(176, 186, 126, 0.728); */
    color: whitesmoke;
    margin: 175px 0px 0px 0px;
    border-radius: 5px;
    padding: 20px;
    z-index: 0;
}

.card-header {
    background-color: rgb(220,210,230);;
    color: rgb(84,61,90);
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0px 5px 10px;

}