.card-header {
    width: 10px;
}

#body-index {
    background-image: url(../images/mountains-garret-parker.jpg);
    background-size: 100%;
    position: absolute;
}

#body-future {
    background-image: url(../images/GP-city.jpg);
    background-size: 100%;
}

#header-section {
    /* background-color: rgb(41,44,43,0.5); */
    /* border-bottom: solid 2px whitesmoke; */
    background-color: rgb(245,245,245,.6);
    color: rgb(50,50,50);
}

.app-name {
    font-size: 2.5em;
    font-weight: bold;
}

.team-names {
    font-size: 1.1em;
    /* border-left: solid 1px whitesmoke; */
}

.navigation {
    color: whitesmoke;
    /* border: solid 2px whitesmoke; */
    background-color: rgb(60,65,67,0.8);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    /* height: 50px; */
}

a {
    color: rgb(50,50,50);
}

a:hover {
    color: rgb(60,65,67);
    text-decoration: none;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

.page-body {
    /* background-color: rgb(245,245,245,.55); */
    /* color: rgb(50,50,50); */
    /* background-color: rgb(60,65,67,0.4); */
    color: whitesmoke;
    border-radius: 15px;
}

hr {
    border-top: solid 1px rgb(245,245,245,.5);
}